<div class="main-content">
<div swiper></div>

<div logintop>	</div>

<div class="mid-show">
	<ul class="mid-list">
		<li class="fl">·认证龙头企业</li>
		<li class="fl">·12年品牌</li>
		<li class="fl">·3小时送达</li>
		<li class="fl">·最近222065条好评</li>
	</ul>
</div>

<div midgoods class="midgoods"></div>

<div class="line"></div>

<!--主体内容-->
<div class="main-flower">
	
<div jingxuan></div>
	
	
	
<div class="line"></div>
<!--永生花精选-->
<div yongshenghua></div>

	
</div>
<div class="line"></div>	

<!--swiper2 -->
<div swiperbot></div>

</div>

<div>
{{sc.data}}
</div>
