<div ui-view="content" ></div>
<div class="footermain">
	<ul class="footer">
	<li>
		<a ui-sref="main.home"  ui-sref-active="act">
			<p>
				<i class="iconfont icon-home"></i>
			</p>
			首页
		</a>
	</li>
	<li>
		<a ui-sref="main.class" ui-sref-active="act">
			<p>
				<i class="iconfont icon-fenlei"></i>
			</p>

			分类
		</a>
	</li>
	<li>
		<a ui-sref="shopcar({'url':url})" ui-sref-active="act">
			<p>
				<i class="iconfont icon-gouwuche"></i>
			</p>

			购物车
		</a>
	</li>
	<li>
		<a ui-sref="main.my" ui-sref-active="act">
			<p>
				<i class="iconfont icon-home1" ui-sref-active="act"></i>
			</p>

			我的
		</a>
	</li>
</ul>
</div>
