<div>
	<div class="advice-list">
		<div class="advice-top clearfix">
			<span class="fl">订单评价</span>
			<a href="" class="fr">2703评价</a>
		</div>
		<ul class="advice-content">
			
			
			<li class="clearfix">
				<img src="img/9010011.jpg_80x87.jpg" alt="" class="fl" />
				<div class="content">
					<p>2333175</p>
					<p>快递小哥很好，因为飞机晚点，多等了一个小时，还细心送到，大赞 </p>
					<p>上海虹桥机场T2航站楼 航*****
					</p>
				</div>
			
				<div class="time">
					<img src="img/star5.png" alt="" />
					<p>2017-9-12</p>
				</div>
			</li>
			
		<li class="clearfix">
				<img src="img/9010011.jpg_80x87.jpg" alt="" class="fl" />
				<div class="content">
					<p>2333175</p>
					<p>快递小哥很好，因为飞机晚点，多等了一个小时，还细心送到，大赞 </p>
					<p>上海虹桥机场T2航站楼 航*****
					</p>
				</div>
			
				<div class="time">
					<img src="img/star5.png" alt="" />
					<p>2017-9-12</p>
				</div>
			</li>
						<li class="clearfix">
				<img src="img/9010011.jpg_80x87.jpg" alt="" class="fl" />
				<div class="content">
					<p>2333175</p>
					<p>快递小哥很好，因为飞机晚点，多等了一个小时，还细心送到，大赞 </p>
					<p>上海虹桥机场T2航站楼 航*****
					</p>
				</div>
			
				<div class="time">
					<img src="img/star5.png" alt="" />
					<p>2017-9-12</p>
				</div>
			</li>
		</ul>
	</div>
</div>