<div class="mid-main">
	<ul class="goods-list">
		<li class="fl"><a href="">
				<img src="img/xianhua_icon.png" alt="" />
				<p>鲜花</p>
			</a></li>
		<li class="fl">
			<a href="">
				<img src="img/yongshenghua_icon.png" alt="" />
				<p>永生花</p>
			</a></li>
		<li class="fl"><a href="">
				<img src="img/cake_icon.png" alt="" />
				<p>蛋糕</p>
			</a></li>
		<li class="fl"><a href="">
				<img src="img/gift_icon.png" alt="" />
				<p>礼品</p>
			</a></li>
		<li class="fl"><a href="">
				<img src="img/choclate_icon.png" alt="" />
				<p>巧克力</p>
			</a></li>
	</ul>
</div>