<div class="swiperbot">
	<div class="sw-head">
		<ul class="clearfix">
			<li class="sw2-active">
				<img src="img/brand_icon01.png" alt="" />
				<img src="img/brand_icon010.png"/>
				
				<span>行业龙头</span>
			</li>
			<li class="sw2-nactive">
				<img src="img/brand_icon02.png" alt="" />
				<img src="img/brand_icon020.png"/>
				<span>品牌理念</span>
			</li>
			<li class="sw2-nactive">
				<img src="img/brand_icon03.png" alt="" />
				<img src="img/brand_icon030.png" alt="" />
				<sapn>3小时送达</sapn>
			</li>
			<li class="sw2-nactive">
				<img src="img/brand_icon04.png" alt="" />
				<img src="img/brand_icon040.png" alt="" />
				<sapn>送前实拍</sapn>
			</li>
		</ul>
	</div>
	
	
	  <!-- Swiper -->
    <div class="swiper-container swiper2">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/brand001.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="img/brand002feben.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="img/brand003.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="img/brand004.jpg" alt="" /></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination2"></div>
    </div>	
    <div class="bot-line"></div>
    
	<div class="bot-list">
		<ul class="clearfix">
			<li><a href="">花语大全</a></li>
			<li> <a href="">查单</a></li>
			<li> <a href="">关于我们</a></li>
		</ul>
	</div>
	<div class="small-line"></div>
	<div class="cus-server">
		<ul class="clearfix">
			<li> <img src="img/icon-phonenew.png" alt="" /> </li>
			<li>
				<img src="img/icon-kefu.png" alt="" />
			</li>
		</ul>
	</div>
	<div class="small-line"></div>
	<div class="copyright">
		<p>Copyright © 2005~2017 花礼网(中国鲜花礼品网) 版权所有</p>
		<p>中国鲜花网领先品牌，鲜花速递专家！</p>
	</div>
	<div class="kefu-server">
		<div class="go-top">
			
		</div>
		<div class="kefu-server">
			
		</div>
	</div>
</div>