<div class="top">
	<div class="swiper-container swiper1">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="">
        	<img src="img/banner1.jpg"/>
        </a></div>
        <div class="swiper-slide">
        	<a href="">
        	<img src="img/banner2.jpg"/>
        </a>
        </div>
        <div class="swiper-slide">
        	<a href="">
        	<img src="img/banner3.jpg"/>
        </a>
        </div>
        <div class="swiper-slide">
        <a href="">
        	<img src="img/banner4.jpg"/>
        </a></div>
    </div>
     <!--如果需要分页器--> 
    <div class="swiper-pagination swiper-pagination1"></div>
</div>
</div>