<div>
	<div class="top-con">
		<p class="con-line"></p>
		<p class="con-title">永生花精选</p>
	</div>
	
	<div class="content-show">
		<ul class="con-show-list clearfix">
			<li class="fl">
				<img src="img/9012189.jpg_220x240.jpg" alt="" />
				<p>鲜花/恩情无限</p>
				<p>粉色康乃馨11枝，百合2枝</p>
				<p>￥179</p>
			</li>
			<li class="fl">
				<img src="img/9012189.jpg_220x240.jpg" alt="" />
				<p>鲜花/恩情无限</p>
				<p>粉色康乃馨11枝，百合2枝</p>
				<p>￥179</p>
			</li>
			<li class="fl">
				<img src="img/9012189.jpg_220x240.jpg" alt="" />
				<p>鲜花/恩情无限</p>
				<p>粉色康乃馨11枝，百合2枝</p>
				<p>￥179</p>
			</li>
			<li class="fl">
				<img src="img/9012189.jpg_220x240.jpg" alt="" />
				<p>鲜花/恩情无限</p>
				<p>粉色康乃馨11枝，百合2枝</p>
				<p>￥179</p>
			</li>
			
		</ul>
		<div class="more-flower">
				全部永生花
		</div>
		
	</div>
	
</div>